<div id="target-slider">
  <% @posts.each_with_index do |post, index| %>
    <% @post = post %>
    <div class="target-wrapper<%= " active" if index == 0 %>" id="target-<%= index %>" data-post-id="<%= @post.id %>"> 
      <%= render @post, type:"shifty-type" %>
    </div>
  <% end %>
</div>
